<!-- <form action="/newapplication/documents" method="post">
<div class="container">
     <div class="row">
        <div class="col-md-2">W2</div>
        <div class="col-md-2"><input type="file" name="w2"/></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">2013 Tax Form 1040</div>
        <div class="col-md-2"><input type="file" name="current1040"/></div>
    </div>
    <br>
        <div class="row">
        <div class="col-md-2">2012 Tax Form 1040</div>
        <div class="col-md-2"><input type="file" name="prior1040"/></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2"><input type="submit" class="btn btn-primary btn-block" value="Upload"/></div>
    </div>
</div>
  
</form> -->

<div class="container">
<%= form_for :documents, controller: 'applicant', action: 'create_documents',:html => {:multipart => true} do |f| %>
     <div class="row">
        <div class="col-md-2">W2</div>
        <%= f.file_field :w2, class: 'col-md-3' %>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">2013 Tax Return</div>
        <%= f.file_field :current1040, class: 'col-md-3' %>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">2012 Tax Return</div>
        <%= f.file_field :prior1040, class: 'col-md-3' %>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2"></div>
        <div class="col-md-3"><%= f.submit "Submit Documents", class: 'btn btn-primary btn-block' %></div>
  </div>
<% end %>
