<h2 class="text-center"><strong>List of all saver inquiries</strong></h2>
<br>
<br>

<table class="table table-striped">
	<thead>
		<tr>
		<th>ID</th>
		<th class="col-md-2">E-mail</th>
		<th class="text-center">Gross Annual Income</th>
		<th class="text-center">Monthly Retirement</th>
		<th class="text-center">Monthly Savings</th>
		<th class="text-center">Pay off CC Balance?</th>
		<th class="text-center">Mortgage Amount</th>
		<th class="text-center">Downpayment</th>
		<th class="col-md-2 text-center">Ready to Buy?</th>
		<th class="text-center">Zip Code</th>
		</tr>
	</thead>
	<tbody>
		<% @savers.each do |saver| %>
		<tr>
		<td><%= saver.id %></td>
		<td><%= saver.email%></td>
		<td class="text-right"><%= number_to_currency(saver.income, precision: 0) %></td>
		<td class="text-right"><%= number_to_currency(saver.retirement, precision: 0) %></td>
		<td class="text-right"><%= number_to_currency(saver.savings, precision: 0) %></td>
		<td class="text-center"><%= saver.cc%></td>
		<td class="text-right"><%= number_to_currency(saver.mortgage, precision: 0) %></td>
		<td class="text-right"><%= number_to_currency(saver.downpayment, precision: 0) %></td>
		<td class="text-center"><%= saver.ready%></td>
		<td class="text-center"><%= saver.zip%></td>
		</tr>
	<% end %>
	</tbody>
</table>