<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Saveradvantage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="Saver Advantage" content="">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  </head>
</head>
<body>

<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="row">
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/saveradvantage">Home</a></li>
            <li><a href="/saveradvantage/saver">Saver Test</a></li>
            <li><a href="/saveradvantage/property/new">Property Portal</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><a href="#">Signed in as <%= current_user.first_name %></a></li>
            <li class="active"><a href="/saveradvantage/logout" role="button">Logout</a></li>
          <% else %>
            <li class="active"><a href="/saveradvantage/login" type="button">Sign in</a></li>
          <% end %>
        </ul>
      </div>
    </div>  
  </div>
</div>




<div class="container">
<div><%= flash[:info] %></div>
<%= yield %>

</div>

</body>
</html>
